{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        thheller/shadow-cljs {:mvn/version "2.25.3"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        reagent/reagent {:mvn/version "1.2.0"}
        metosin/malli {:mvn/version "0.12.0"}}
 :aliases {:shadow-cljs
           {:main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
